<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pictureit.noambaroz.beautyapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
    <uses-permission android:name="android.permission.CALL_PHONE"/> 

    <permission
        android:name="com.pictureit.noambaroz.beautyapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pictureit.noambaroz.beautyapp.permission.C2D_MESSAGE" />

    <!-- Creating Permission to receive Google Maps -->
    <permission
        android:name="com.pictureit.noambaroz.beautyapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.pictureit.noambaroz.beautyapp.permission.MAPS_RECEIVE" />

    <!-- Permission to read Google Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.pictureit.noambaroz.beautyapp.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityTutorial"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ServiceOrder"
            android:label="@string/title_future_treatments"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityTreatments"
            android:label="@string/title_service_order"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.SearchProviderActivity"
            android:label="@string/search_provider_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityMyProfile"
            android:label="@string/title_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityMyProfileEdit"
            android:label="@string/title_edit_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityBeautician"
            android:label="@string/beautician_page_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityTermsOfService"
            android:label="@string/title_terms_of_service"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityMessages"
            android:label="@string/title_order_notification"
            android:screenOrientation="portrait" >
        </activity>
                <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityMessagesInner"
            android:label="@string/title_order_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityRegistrationPersonalData"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar" >
        </activity> 
        <activity
            android:name="com.pictureit.noambaroz.beautyapp.ActivityRegistrationPhoneAuthentication"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar" >
        </activity>

        <receiver android:name="com.pictureit.noambaroz.beautyapp.gcm.GcmBroadcastReceiver" 
             android:permission="com.google.android.c2dm.permission.SEND" >

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.pictureit.noambaroz.beautyapp.server" />
            </intent-filter>
        </receiver>

        <service android:name="com.pictureit.noambaroz.beautyapp.gcm.GcmIntentService" />

        <provider
            android:name="com.pictureit.noambaroz.beautyapp.data.DataProvider"
            android:authorities="com.pictureit.noambaroz.beautyapp.provider"
            android:exported="false" >
        </provider>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_v2_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>